name: Format Code

on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/**'

jobs:
  format:
    name: Format Code
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run Prettier
        run: yarn format

      - name: Run ESLint Fix
        run: yarn lint:fix

      - name: Commit changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git diff-index --quiet HEAD || git commit -m "style: auto-format code" || exit 0
          git push
